$color: blue;

body {
    .main-title {
        color: $color;
    }

    .warning {
        padding: 20px;
        background-color: red;
        color: white;
        border-radius: 8px;
        width: 100px;
    }
}